<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
    <div th:fragment="mynav" style="border: 3px solid blue; border-radius: 3px;">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link" href="/">Homepage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/employee">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manager/all">Manager</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>
        </ul>
    </div>

</body>
</html>